@use "../utils/" as *;

header {
    text-align: center;
}

.container {
    width: rem(375);
    margin: rem(40) auto;
    padding: rem(28);
    border-radius: rem(16);

    @include breakpoint(large) {
        width: rem(915);
        margin: rem(80) auto;
    }

    &__main {
        background: var(--white);
    }
}

