@use "../utils/" as *;

.input {
    display: flex;
    align-items: center;
    padding: rem(5);
    background: var(--light-grayish-cyan2);
    & img {
        height: 18px;
        width: auto;
    }

    & input {
        border: none;
        background: transparent;
        flex: 1;
        margin-left: 30px;
        font-weight: 700;
        text-align: right;
    }


}