@use "../utils/" as *;

.radio{
    display: grid;
    grid-template-columns: 50% 50%;
    gap: rem(10);

    @include breakpoint(large) {
        grid-template-columns: 33% 33% 33%;
    }

    &__input {
        display: none;
    }

    &__label {
        cursor: pointer;
        padding: rem(10);
        background: var(--very-dark-cyan);
        color: var(--white);
        font-weight: 700;
        text-align: center;
        border-radius: rem(5);

    }

    &__input:checked + &__label {
        background: var(--strong-cyan);
        color: var(--very-dark-cyan);
    }

    &__label:hover {
        background: var(--light-grayish-cyan) ;
        color: var(--very-dark-cyan);
    } 

    .radio_custom {
        cursor: pointer;
        padding: rem(10);
        background: var(--light-grayish-cyan2);
        text-align: center;
        border-radius: rem(5);
        border: 2px solid var(--white);
        font-weight: 700;


        &:focus-within
        {
            border: 2px solid var(--strong-cyan);
        }
    }

}
